FROM centos:7

# Install:
#   docker (to use as client)
#   ansible + some deps
RUN yum update -y                 && \
    yum install -y epel-release   && \
    yum install -y docker         && \
    yum install -y ansible git    && \
    yum clean all

RUN mkdir -p /etc/ansible/roles

ADD builder.sh /usr/local/bin/builder.sh
ADD wait_on_host.py /usr/local/bin/wait_on_host.py
ADD ansible-container-inventory.py /etc/ansible/ansible-container-inventory.py
ADD ansible.cfg /etc/ansible/ansible.cfg
