Chris Houseknecht <chouseknecht@ansible.com> <chousekn@redhat.com>
Chris Houseknecht <chouseknecht@ansible.com> chouseknecht
Todd Barr <tbarr@ansible.com> tbarr <tbarrt@gmail.com>
Daniel Heitmann <dictvm@horrendum.de> Daniel “dictvm” Heitmann <dictvm666@gmail.com>
Shea Stewart <shea.stewart@arctiq.ca> stewartshea
