ansible==2.4.0
asn1crypto==0.22.0
backports.ssl-match-hostname==3.5.0.1
cffi==1.10.0
colorama==0.3.7
cryptography==1.8.1
docker==2.2.0
docker-pycreds==0.2.1
enum34==1.1.6
httplib2==0.10.3
idna==2.5
ipaddress==1.0.18
Jinja2==2.9.5
MarkupSafe==1.0
packaging==16.8
paramiko==2.1.2
pyasn1==0.2.3
pycparser==2.17
pycrypto==2.6.1
pyparsing==2.2.0
PyYAML==3.12
requests==2.13.0
ruamel.ordereddict==0.4.9
ruamel.yaml==0.14.2
six==1.10.0
structlog==16.1.0
typing==3.5.3.0
websocket-client==0.40.0
wheel==0.24.0
