#!/bin/bash

set -x

PYENV_ROOT=/pyenv; export PYENV_ROOT
PATH=${PYENV_ROOT}/bin:${PATH}; export PATH

# Make sure we can access shellcheck
PATH=${PATH}:/root/.cabal/bin; export PATH

eval $(pyenv init -)

# Set the .python-version file
pyenv local ${PYTHON_VERSIONS[@]}

exec "$@"
